.version.index /* version checker */
{
	color: #00000C;
	background-color: #ED7A13;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u72
{
	z-index: 2;
	height: 1175px;
	border-style: none;
	border-color: transparent;
	background: transparent url("../images/bg.jpg") no-repeat center center;
}

#u72-bw
{
	z-index: 2;
	margin-top: -127px;
	height: 1175px;
}

#pu96
{
	width: 0.01px;
	padding-bottom: 519px;
	margin-right: -10000px;
	margin-top: 276px;
	margin-left: -58px;
}

#u96
{
	z-index: 3;
	width: 1075px;
	background-color: transparent;
	position: fixed;
	top: 276px;
	left: -58px;
}

#u102
{
	z-index: 5;
	width: 912px;
	background-color: transparent;
	position: fixed;
	top: 633px;
	left: 24px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

